button, .page-link {
    &:focus {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
    }
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgba(52,73,94,0.94);
    border-color: transparent;
}


// button:focus,
// .page-link:focus {
//     outline: 0px !important;
//     -webkit-appearance: none;
//     box-shadow: none !important;
// }

// .active a{
//     background: gray;
// }